#daftar-siswa {
    background-color: gainsboro;
    color: #F3F4F6;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 400;
}

#daftar-siswa>p {
    margin: 0;
}

.siswa {
    padding: 10px 15px;
}

#daftar-siswa>p:hover {
    background-color: #E5E7EB;
    color: #111827;
}