#daftar-siswa {
    background-color: gainsboro;
}

#daftar-siswa>p:first-child {
    background-color: #60A5FA;
}

#daftar-siswa>p:last-child {
    background-color: #F87171;
}

#daftar-siswa>p:hover {
    background-color: #E5E7EB;
}